button{
    width: 99%;
    background-color: lavenderblush;
    border-color: blanchedalmond;
    border-style: outset;
    border-width: thin;
    font-size: smaller;
}

#buttonsContainer{
    display: none;
    visibility:hidden;
}

#favToggle{
    display: none;
    visibility: hidden;
}

img{
    max-width: width 400px;
}

.imgCont{
    position: relative;
    display: inline-block;
    padding-top: 2.5rem;
    margin: 0 .2rem;
}

.imgCaption{
    position: absolute;
    top: 8px;
    left: 16px;
    padding: 1px 1px;
    font-size: 1.33rem;
}

.favButton{
    margin-top: 7px;
    visibility: visible
}

#mainContainer{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "header header header"
      "output favorites input"
      "footer footer footer";
    grid-template-columns: 500px 120px 120px;
    grid-template-rows: 30px 1fr 30px;
}

#contentContainer{
    grid-area: output;
}

#results{
    display: flex;
    flex-wrap: wrap;   
}


#favoritesContainer{
    grid-area: favorites;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border-right: black solid thin; */
}

#favorites{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    height: 12%;
    width: 95%;
    /* margin-top: 25% */
}

#favToggle{
    width: 10%;
    background-color: antiquewhite;
    background-size: contain;
    margin-top: 2rem;
    margin-right: 90%;
}

#optionsContainer{
    grid-area: input;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: black thin solid;
    margin-left: 10px;
    padding-left: 10px;
}

#newFav{
    display: flex;
    flex-direction: column;
    align-content: center;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
#selectOption{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-content: center;
    /* margin-top: 25%; */
}
#favName{
    border-color: bisque;
    width: 95%;
    height: 1.1rem;
    margin-bottom: 4%;
    font-size: 1rem;
}

#addFav{
    /* margin-left: 0; */
}

@media only screen and (max-width: 500px){
    img{
        max-width: 300px;
    }
    #mainContainer{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            "buttons"
            "input"
            "favorites"
            "output";
        grid-template-columns: 300px;
        grid-template-rows: 10px 10px 300px 10px;
    }

    #buttonsContainer{
        grid-area: buttons;
        display: flex;
        visibility: visible;
    }

    #favToggle{
        display: flex;
        visibility: visible;
        background-color: #fff0f5;
        color: black;
        flex-direction: column;
        justify-content: center;
        width: 90%;        
        margin-top: 2rem;
        margin-right: 5%;
        margin-left: 5%;
    }

    #favoritesContainer{
        /* grid-area: favorites; */
        border-style: none;
        margin-bottom: 10%;
    }

    #optionsContainer{
        /* grid-area: input; */
        border-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    #newFav{  
        border-style: none;
    }
}